/* Pocket colors */
g.feature.Pockets.col0 rect.feature {
    fill: #e74c3c;
    fill-opacity: 0.8;
}

g.feature.Pockets.col1 rect.feature {
    fill: #00ffff;
    fill-opacity: 0.8;
}

g.feature.Pockets.col2 rect.feature {
    fill: #2ecc71;
    fill-opacity: 0.8;
}

g.feature.Pockets.col3 rect.feature {
    fill: #9b59b6;
    fill-opacity: 0.8;
}

g.feature.Pockets.col4 rect.feature {
    fill: #00007f;
    fill-opacity: 0.8;
}

g.feature.Pockets.col5 rect.feature {
    fill: #e67e22;
    fill-opacity: 0.8;
}

g.feature.Pockets rect.feature-block-end {
    display: none;
}

/* Conservation colors */

g.feature.Conservation rect.feature-block-end {
    display: none;
}

g.feature.Conservation.score0 rect.feature {
    fill: #fff;
    fill-opacity: 0.8;
}
g.feature.Conservation.score1 rect.feature {
    fill: #e5e5e5;
    fill-opacity: 0.8;
}
g.feature.Conservation.score2 rect.feature {
    fill: #cccccc;
    fill-opacity: 0.8;
}
g.feature.Conservation.score3 rect.feature {
    fill: #b2b2b2;
    fill-opacity: 0.8;
}
g.feature.Conservation.score4 rect.feature {
    fill: #999999;
    fill-opacity: 0.8;
}
g.feature.Conservation.score5 rect.feature {
    fill: #7f7f7f;
    fill-opacity: 0.8;
}
g.feature.Conservation.score6 rect.feature {
    fill: #666666;
    fill-opacity: 0.8;
}
g.feature.Conservation.score7 rect.feature {
    fill: #4c4c4c;
    fill-opacity: 0.8;
}
g.feature.Conservation.score8 rect.feature {
    fill: #333333;
    fill-opacity: 0.8;
}
g.feature.Conservation.score9 rect.feature {
    fill: #1a1a1a;
    fill-opacity: 0.8;
}
g.feature.Conservation.score10 rect.feature {
    fill: #000;
    fill-opacity: 0.8;
}
