* {
    box-sizing: border-box;
}

.app {
    position: fixed;
    top: 52px; /* (navbar) */
    bottom: 28px;
    right: 300px;
    left: 0px;
}

.pocket-list {
    position: fixed;
    top: 52px; /* (navbar) */
    bottom: 28px;
    right: 0;
    width: 300px;
    padding: 15px;
    overflow-y: scroll;
    background: white;
}

.lm-plugin .lm-layout-static, .lm-plugin .lm-layout-scrollable {
    position: static;
}

.lm-plugin .lm-layout-top {
    overflow-y: hidden;
}

.pocket {
    margin: 15px;
    border: 1px solid;
    border-color: black;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.pocket .pocket-btn {
    width: 32px;
    height: 32px;
    border: 1px solid;
    background-color: transparent;
    font-weight: normal;
    border-radius: 10px;
    padding: 0px;
    cursor: pointer;
    line-height: 32px !important;
    font-family: "fontello";
    margin: 5px 0px 3px 0px;
}

.pocket .pocket-btn:hover {
    color: #ae5d04;
    text-decoration: none;
    border: 1px dotted;
}

.pocket .icon-hidden {
    color: #dcd4c6
}

.pocket .focus-icon:before {
    content: '\e8a3'; /*Aim icon*/
}
.pocket .hide-icon:before {
    content: '\e826'; /*Eye icon*/
}
.pocket .pocket-icon {
   font-size: 100%;
}

/* Colors of pockets */
.pocket0 {
    background-color: rgba(0, 0, 255, 0.5); /*Blue*/
    color: white;

}

.pocket1 {
    background-color: rgba(255, 0, 0, 0.5); /*Red*/
}

.pocket2 {
    background-color: rgba(0, 255, 0, 0.5); /*Green*/
}

.pocket3 {
    background-color: rgba(255, 0, 255, 0.5); /*Magenta*/
}

.pocket4 {
    background-color: rgba(255, 128, 128, 0.5); /*Pink*/
}

.pocket5 {
    background-color: rgba(128, 128, 128, 0.5); /*Gray*/
    color: white;
}

.pocket6 {
    background-color: rgba(128, 0, 0, 0.5); /*Brown*/
    color: white;
}

.pocket7 {
    background-color: rgba(255, 128, 0, 0.5); /*Orange*/
}
