* {
    box-sizing: border-box;
}

.app {
    position: fixed;
    top: 52px; /* (navbar) */
    bottom: 0px;
    right: 300px;
    left: 0px;
}

.pocket-list {
    position: fixed;
    top: 52px; /* (navbar) */
    bottom: 0px;
    right: 0;
    width: 300px;
    padding: 15px;
    overflow-y: scroll;
    background: white;
}

.lm-plugin .lm-layout-static, .lm-plugin .lm-layout-scrollable {
    position: static;
}

.lm-plugin .lm-layout-top {
    overflow-y: hidden;
}

.control-buttons {
    margin: 0 auto;
    text-align: center;
}

.pocket {
    margin: 15px;
    border: 3px solid;
    border-color: black;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: #f2f1ed;;
}

.pocket:hover {
    background-color: #f6f5f3;
}

.pocket .pocket-feature {
    color: #63533c;
    font-size: 12px;
}

.pocket p {
    margin-bottom: 5px;
}

.pocket .pocket-btn {
    width: 32px;
    height: 32px;
    border: 1px solid;
    background-color: transparent;
    color: #9c835f;
    font-weight: normal;
    border-radius: 10px;
    padding: 0px;
    cursor: pointer;
    line-height: 32px !important;
    font-family: "fontello";
    margin: 5px 0px 3px 0px;
}

.control-buttons .control-btn {
    width: 32px;
    height: 32px;
    border: 1px solid;
    background-color: transparent;
    color: #9c835f;
    font-weight: normal;
    border-radius: 10px;
    padding: 0px;
    cursor: pointer;
    line-height: 32px !important;
    font-family: "fontello";
    margin: 5px 5px 3px 5px;
}

.pocket .pocket-btn:hover {
    color: #ae5d04;
    text-decoration: none;
}

.control-buttons .control-btn:hover {
    color: #ae5d04;
    text-decoration: none;
}

.control-btn:hover {
    color: #ae5d04;
    text-decoration: none;
}

.pocket .focus-icon:before {
    content: '\e8a3'; /*Aim icon*/
}
.pocket .hide-icon:before {
    content: '\e826'; /*Eye icon*/
}
.pocket .pocket-icon {
   font-size: 100%;
}

.download-icon:before {
    content: '\e82d'; /*Download icon*/
}
.seq-icon:before {
    content: '\e86d'; /*Sequence icon*/
}

.struct-icon:before {
    content: '\e839'; /*Retweet icon*/
}

.mail-icon:before {
    content: '\e805'; /*Mail icon*/
}
.clipboard-icon:before {
    content: '\e8d1'; /*Clipboard icon*/
}

.pocket .button-icon {
   font-size: 100%;
}