[submodule "LiteMol"]
	path = LiteMol
	url = https://github.com/jendelel/LiteMol.git
	branch = master
[submodule "pranklib"]
	path = pranklib
	url = https://github.com/jendelel/pranklib.git
	branch = master
[submodule "p2rank"]
	path = p2rank
	url = https://github.com/jendelel/p2rank.git
	branch = develop
